In [ ]:
import gzip
import shutil
import tarfile

with gzip.open('ThirtyMusic.tar.gz', 'rb') as f_in:
  with open('ThirtyMusic.tar', 'wb') as f_out:
    shutil.copyfileobj(f_in, f_out)

In [ ]:
tar = tarfile.open('ThirtyMusic.tar', "r:")
tar.extractall()
tar.close()

In [ ]:
import pandas as pd
import json
import numpy as np

In [ ]:
sessions = pd.read_csv('relations/sessions.idomaar', sep = '\t', header = None, encoding = 'ascii')

In [ ]:
sessions.head()

               0  ...                                                  3
0  event.session  ...  {"numtracks":23,"playtime":4547} {"subjects":[...
1  event.session  ...  {"numtracks":11,"playtime":2907} {"subjects":[...
2  event.session  ...  {"numtracks":16,"playtime":3191} {"subjects":[...
3  event.session  ...  {"numtracks":5,"playtime":1162} {"subjects":[{...
4  event.session  ...  {"numtracks":2,"playtime":250} {"subjects":[{"...

[5 rows x 4 columns]

в каждом эвенте хранятся количество треков, id пользователя и дополнительная информация о кажом треке (использоваться будет только количество проигрываний)

In [ ]:
splt = sessions.iloc[0,3].split()

In [ ]:
splt

['{"numtracks":23,"playtime":4547}',
 '{"subjects":[{"type":"user","id":44361}],"objects":[{"type":"track","id":4698874,"playstart":0,"playtime":58,"playratio":null,"action":"play"},{"type":"track","id":838286,"playstart":58,"playtime":310,"playratio":1.01,"action":"play"},{"type":"track","id":2588097,"playstart":368,"playtime":179,"playratio":1.01,"action":"play"},{"type":"track","id":2746740,"playstart":547,"playtime":342,"playratio":1.44,"action":"play"},{"type":"track","id":3873988,"playstart":889,"playtime":259,"playratio":1.01,"action":"play"},{"type":"track","id":808046,"playstart":1148,"playtime":236,"playratio":1.01,"action":"play"},{"type":"track","id":2588498,"playstart":1384,"playtime":158,"playratio":1.01,"action":"play"},{"type":"track","id":2492893,"playstart":1542,"playtime":196,"playratio":1.02,"action":"play"},{"type":"track","id":2168413,"playstart":1738,"playtime":165,"playratio":1.02,"action":"play"},{"type":"track","id":1778345,"playstart":1903,"playtime":448,"playratio":1.07,"action":"play"},{"type":"track","id":2989691,"playstart":2351,"playtime":194,"playratio":0.99,"action":"play"},{"type":"track","id":4698875,"playstart":2545,"playtime":256,"playratio":null,"action":"play"},{"type":"track","id":2985955,"playstart":2801,"playtime":257,"playratio":1.54,"action":"play"},{"type":"track","id":4698876,"playstart":3058,"playtime":177,"playratio":null,"action":"play"},{"type":"track","id":1728736,"playstart":3235,"playtime":270,"playratio":0.96,"action":"play"},{"type":"track","id":2615446,"playstart":3505,"playtime":172,"playratio":0.93,"action":"play"},{"type":"track","id":4698877,"playstart":3677,"playtime":177,"playratio":null,"action":"play"},{"type":"track","id":4698878,"playstart":3854,"playtime":144,"playratio":null,"action":"play"},{"type":"track","id":515524,"playstart":3998,"playtime":134,"playratio":1.10,"action":"play"},{"type":"track","id":4698879,"playstart":4132,"playtime":172,"playratio":null,"action":"play"},{"type":"track","id":4698880,"playstart":4304,"playtime":98,"playratio":null,"action":"play"},{"type":"track","id":2444241,"playstart":4402,"playtime":146,"playratio":1.04,"action":"play"},{"type":"track","id":4698881,"playstart":4548,"playtime":-1,"playratio":1.00,"action":null}]}']

In [ ]:
json.loads(splt[1])['objects'][0]

{'action': 'play',
 'id': 4698874,
 'playratio': None,
 'playstart': 0,
 'playtime': 58,
 'type': 'track'}

In [ ]:
sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2764474 entries, 0 to 2764473
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       int64
 2   2       int64
 3   3       object
dtypes: int64(2), object(2)
memory usage: 84.4+ MB

Будем сохранять каждое изменение на всякий случай

In [ ]:
sessions.to_csv('sessions.csv', index = False)

In [ ]:
persons = pd.read_csv('entities/persons.idomaar', sep = '\t', header = None, encoding='UTF-8')

In [ ]:
persons.head()

        0       1  2                                                  3   4
0  person  145148 -1  {"MBID":null, "name":"Everything+Is+Illuminated"}  {}
1  person  297899 -1            {"MBID":null, "name":"Robin+O%27Brien"}  {}
2  person  250429 -1      {"MBID":null, "name":"Nicholas+Gunn++(2012)"}  {}
3  person   32765 -1          {"MBID":null, "name":"Aspasia+Stratigou"}  {}
4  person   18689 -1              {"MBID":null, "name":"Allison+Veltz"}  {}

In [ ]:
persons = persons.drop([0, 2, 4], axis = 1)

In [ ]:
persons.iloc[0,1]

'{"MBID":null, "name":"Everything+Is+Illuminated"}'

In [ ]:
MBID = []
name = []
for val in persons.iloc[:,1].values:
    line = json.loads(val)
    MBID.append(line['MBID'])
    name.append(line['name'])

In [ ]:
persons['MBID'] = MBID
persons['name'] = name

In [ ]:
persons = persons.drop([3], axis = 1)

In [ ]:
persons.head()

        1  MBID                       name
0  145148  None  Everything+Is+Illuminated
1  297899  None            Robin+O%27Brien
2  250429  None      Nicholas+Gunn++(2012)
3   32765  None          Aspasia+Stratigou
4   18689  None              Allison+Veltz

сохраним информацию о каждом пользователе

In [ ]:
persons.to_csv('persons.csv', index = False)

In [ ]:
tracks = pd.read_csv('entities/tracks.idomaar', sep = '\t', header = None, encoding = 'UTF-8')

In [ ]:
tracks.head()

       0  ...                                                  4
0  track  ...  {"artists":[{"type":"person","id":0}],"albums"...
1  track  ...  {"artists":[{"type":"person","id":1}],"albums"...
2  track  ...  {"artists":[{"type":"person","id":2}],"albums"...
3  track  ...  {"artists":[{"type":"person","id":3}],"albums"...
4  track  ...  {"artists":[{"type":"person","id":4}],"albums"...

[5 rows x 5 columns]

In [ ]:
tracks.iloc[0, 3]

'{"duration":-1,"playcount":4,"MBID":null,"name":"000003+Music+Instructor/_/Dj%27s+Rock+Da+House+%C3%82%E2%89%88%C3%86%E2%89%88%C3%8A01+-+Dj+Max-Pulemet+Vs.+Bomfunk+Mc%27s+-+Electro+Breakdance+party+1+%5B2000%5D+=+CD+ONE%C3%82%E2%89%88%C3%86%E2%89%88%C3%8A"}'

In [ ]:
json.loads(tracks.iloc[0, 3])

{'MBID': None,
 'duration': -1,
 'name': '000003+Music+Instructor/_/Dj%27s+Rock+Da+House+%C3%82%E2%89%88%C3%86%E2%89%88%C3%8A01+-+Dj+Max-Pulemet+Vs.+Bomfunk+Mc%27s+-+Electro+Breakdance+party+1+%5B2000%5D+=+CD+ONE%C3%82%E2%89%88%C3%86%E2%89%88%C3%8A',
 'playcount': 4}

Достанем информацию о каждом треке из исходных данных и сохраним ее в таблицу

In [ ]:
MBID = []
duration = []
name = []
playcount = []
for line in tracks.iloc[:, 3]:
  dic = json.loads(line)
  MBID.append(dic['MBID'])
  duration.append(dic['duration'])
  name.append(dic['name'])
  playcount.append(dic['playcount'])

In [ ]:
tracks['MBID'] = MBID
tracks['duration'] = duration
tracks['name'] = name
tracks['playcount'] = playcount

In [ ]:
tracks.head()

       0  1  ...                                               name playcount
0  track  0  ...  000003+Music+Instructor/_/Dj%27s+Rock+Da+House...       4.0
1  track  1  ...             00-01/_/%D0%A2%D0%B5%D0%BA%D1%81%D1%82     495.0
2  track  2  ...                          0005.+Overkill/_/Overkill       2.0
3  track  3  ...                       000C+Tony+Dize/_/Ruleta+Rusa       2.0
4  track  4  ...           000+Oscarcito/_/Tumbay%E2%80%9A+(Lyrics)       1.0

[5 rows x 9 columns]

In [ ]:
albums = []
artiscts_id = []
artists_type = []
tags = []
for line in tracks.iloc[:, 4]:
  dic = json.loads(line)
  albums.append(dic['albums'])
  artists = dic['artists'][0]
  artists_id.append(artists['id'])
  artists_type.append(artists['type'])
  tags.append(dic['tags'])

In [ ]:
tracks['albums'] = albums
tracks['artists_id'] = artists_id
tracks['artists_type'] = artists_type
tracks['tags'] = tags

In [ ]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5675143 entries, 0 to 5675142
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   1             int64
 1   MBID          object
 2   duration      float64
 3   name          object
 4   playcount     float64
 5   albums        object
 6   artists_id    int64
 7   artists_type  object
 8   tags          object
dtypes: float64(2), int64(2), object(5)
memory usage: 389.7+ MB

Удалим дублирующую информацию и сохраним

In [ ]:
tracks = tracks.drop([0, 2, 3, 4], axis = 1)

In [ ]:
tracks.iloc[:, 0].value_counts()

track    5675143
Name: 0, dtype: int64

In [ ]:
tracks.to_csv('tracks.csv', index = False)